/*Body*/

body{
    background-color: lavender;
}

/*Header*/

header{
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}

.header{
    display: block;
    width: 98%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

/*Main*/

main{
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}

/*Footer*/

footer{
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}

/*Ecart*/

.ecart{
    padding: 3px;
}

.ecarttexte{
    padding: 26px;
}

/*Images*/

.logo{
    float: left;
    margin-top: -40%;
    padding-left: 2%;
    padding-top: 2%;
    height: 20%;
    width: 20%;
}

.quisuisje{
    float: left;
    margin-top: -32%;
    padding-left: 2%;
    padding-top: 2%;
    height: 20%;
    width: 20%;
}

.cours{
    float: left;
    margin-top: -27%;
    padding-left: 2%;
    padding-top: 2%;
    height: 20%;
    width: 20%;
}

.etude{
    float: left;
    margin-top: -30%;
    padding-left: 2%;
    padding-top: 2%;
    height: 20%;
    width: 20%;
}

/*Textes*/

* {
    font-family: cursive;
}

h1{
    text-align: center;
    color: rgb(217, 189, 233);
}

h2{
    color: rgb(190, 190, 249);
}

.texteimage{
    display: inline-block;
    padding-left: 25%;
}

ul{
    list-style: none;
}

.footer{
    margin-left: 2%;
}

/*Menu déroulant*/
  
  /* Retirer les pastilles avant les items des listes */
  
  a {
    color: #e8dcff;
    font-size: 32px;
    text-decoration: none;
  }
  
  .menu-label,
  .menu-cb {
    cursor: pointer;
    appearance: none;
    position: fixed;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 30px;
    z-index: 4;
  }
  
  .menu-nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 90%;
      max-width: 400px;
    padding-top: 110px;
    text-align: left;
    background: #a889e3ab;
    z-index: 2;
    transform: translateX(-100%);
    transition: transform 1s linear;
  }
  
  .menu-item {
    padding: .5em 20px;
    background-color: #a889e3ab;
  }
  
  .menu-cb:checked ~ .menu-nav {
    transform: translateX(0);
  }
  
  .menu-cote {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }